<div class="flex flex-col w-full items-center p-4 gap-4">
  <h3 class="font-bold">
    Register
  </h3>
  <form
    class="flex flex-col gap-4 w-[500px]"
    [formGroup]="registerForm"
  >
    <div class="flex flex-col gap-2">
      <p>Username</p>
      <input
        formControlName="username"
        type="text"
        placeholder="input your username..."
        class="p-2"
      >
    </div>
    <div class="flex flex-col gap-2">
      <p>Password</p>
      <input
        formControlName="password"
        type="password"
        placeholder="input your password..."
        class="p-2"
      >
    </div>
    <div class="flex flex-col gap-2">
      <p>Repeat Password</p>
      <input
        formControlName="repeatPassword"
        type="password"
        placeholder="input your password..."
        class="p-2"
      >
    </div>
    <button
      class="block w-full text-white p-2 rounded-sm"
      (click)="onClickRegister()"
      [disabled]="registerForm.invalid"
      [ngClass]="{'bg-[#999]': registerForm.invalid, 'bg-black': registerForm.valid}"
    >
      Register
    </button>
  </form>
  <p>
    Already have an account? <a href="/login">Login here.</a>
  </p>
</div>
